.full {
    width: 100%;
    margin: auto;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.header {
    background-color: black;
    height: auto;
    width: 100%;
    padding: 10px 0;
}

.txt-white {
    margin-left: 24px;
    color: rgb(255, 221, 0);
}

.c-left-1-3 {
    width: 33%;
    height: 300px;
    background-color: blue;
    margin: 10px;
    border-radius: 20px;
}

.c-right-2-3 {
    width: 60%;
}

.c-2-3-item {
    width: 100%;
    height: 140px;
    border-radius: 20px;
    margin: 10px;
}

.bg-violet {
    background-color: blueviolet;
} 

 .bg-red {
    background-color: rgb(226, 80, 43);
}

 .col-1-3-l {
     height: 50px;
     width: 100px;
     float: left;
}

.col-1-3-r {
    height: 50px;
    width: 100px;
    float: right;
}

.margin-left {
    margin-left: 10px;
}

h1 {
    font-family: 'Potta One', cursive;
}

h2 {
    font-family: 'IBM Plex Sans', sans-serif;
}

h3 {
    font-family: 'Bebas Neue', cursive;
}

h4 {
    font-family: 'Xanh Mono', monospace;
}

.type h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 88px;
}