/* .full {
    width: 100%;
} */

/* .header {
    background-color: black;
    height: auto;
    padding: 2px;
} */

/* .txt-white {
    color: white;
} */

/* .c-33 {
    width: 33%;
    height: 300px;
    background-color: blue;
    float: left;
    margin: 10px;
    border-radius: 30px;
} */

/* .c-66 {
    width: 60%;
    height: 140px;
    float: left;
    border-radius: 20px;
    margin: 10px;
} */

/* .bg-violet {
    background-color: blueviolet;
} */

/* .bg-red {
    background-color: rgb(226, 80, 43);
} */